@tailwind base;
@tailwind components;
@tailwind utilities;

.navLink {
  @apply relative md:mx-4  lg:mr-2 text-white py-1 mb-2 sm:mb-0 lg:h-10 lg:text-xl;
}
.navLink::after {
  @apply content-[''] bg-purple-600 h-[5px] w-[0%] left-2 -bottom-[5px] rounded-xl absolute duration-300;
}
.navLink:hover::after {
  @apply w-[100%];
}
.contactLink {
  @apply w-8 h-8 inline-block rounded-full bg-white hover:bg-purple-400 duration-300;
}
.activity {
  @apply sm:text-3xl text-xl font-medium text-white mb-4;
}
.skill {
  @apply sm:w-44 w-32 h-28 bg-none text-white text-lg border-2 shadow-purple-900 shadow-sm flex duration-300 justify-center rounded-lg items-center hover:-translate-y-1 hover:scale-105 border-black;
}
.projectLinks {
  @apply justify-around items-center bg-purple-500 w-44 flex px-4 transition-all ease-in-out duration-300 text-center py-1 rounded-md mr-2 hover:bg-blue-700;
}
body {
  background-image: linear-gradient(270deg, #1b1429, #140f23);
}
html {
  --image-gradient: linear-gradient(
    to bottom left,
    hsla(0, 3%, 6%, 0.678),
    rgba(12, 10, 22, 0.863)
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
